latex/project.synctex.gz
latex/project.log
latex/project.fls
latex/project.fdb_latexmk
latex/project.aux

Conference-LaTeX-template_10-17-19/conference_101719.synctex.gz
Conference-LaTeX-template_10-17-19/conference_101719.log
Conference-LaTeX-template_10-17-19/conference_101719.fls
Conference-LaTeX-template_10-17-19/conference_101719.fdb_latexmk
Conference-LaTeX-template_10-17-19/conference_101719.aux

frontend/src/api/__pycache__